.stories
  padding-top: 38px
  box-sizing: border-box
.story
  width: 100%
  max-height: 260px
  display: flex
  flex-flow: row nowrap
  text-align: left
  margin-bottom: 67px
  box-sizing: border-box
  &__photo
    width: 267px
    height: 260px
    border-radius: 10px
    margin-right: 28px
  &__info
    max-width: 744px
  &__title
    width: 477px
    margin-bottom: 6px
    line-height: 36px
    overflow: hidden
    text-overflow: ellipsis
  &__authorDateContainer
    display: flex
    height: 24px
    margin-bottom: 12px
  &__author
    width: 108px
    margin-right: 24px
    overflow: hidden
    text-overflow: ellipsis
  &__date
    width: 183px
  &__content
    width: 744px
    height: 135px
    overflow: hidden
    word-wrap: break-word
  &__icons
    margin-top: 21px
    // 1st margin-right 15
    // 2nd margin-right 20

.storyBackwards
  display: flex
  margin: 30px 49px
  background: transparent
  outline: none
  border: none

.storyNew
  padding: 30px 150px 0 30px
  box-sizing: border-box
  margin-left: 102px
  // background: yellow
  input
    border-radius: 0px
    border: none
    outline: none
  &__desk
    text-align: left
    // display: flex
    // flex-direction: column
  &__name
    width: 772px
    height: 36px
    margin-bottom: 32px

  // TODO: Dynamic tags appearance
  &__tags
    width: 652px
    height: 32px
  &__wrapper
    // min-height: 200px
    position: relative
    // background: coral
    display: flex
    align-items: flex-start
    // margin-top: 32px
    overflow: none
    >textarea
      width: 772px
      height: 27px
      margin-bottom: 34px
      text-align: left
      font-size: 18px
      overflow: hidden
      resize: none
      outline: none
      border: 1px dashed transparent
      padding-left: 10px
    >button
      position: absolute
      margin-left: -35px
      // margin-bottom: 50px
      width: 40px
      background: transparent
      border: none
      cursor: pointer
      &:hover
        opacity: 0.5
      &:active
        opacity: 0.7
      &:focus
        outline: none
    

    // display: block
    // width: 100%
    // box-sizing: border-box
    
    // min-height: 3em
    
  &__input
    width: 772px
    height: 24px
    margin-top: 12px
    color: #3B3E3C
  
  // &__photo
  //   box-sizing: border-box
  //   display: flex
  //   justify-content: space-between
  //   flex-flow: row nowrap
  //   margin: 32px 0
  >button
    // position: fixed
    // left: 323px
    // bottom: 24px
    margin: 41px 0
    font-weight: 500
    letter-spacing: 0.006em

.storyView
  margin-left: 132px
  display: flex
  flex-flow: column nowrap
  &__title
  &__tags
    color: red
  &__date
  &__author
  &__city

.addPhotoItem
  margin: 0 5px

.iconsMargin
  margin: 0 25px 0 25px

.details
  display: grid 
  grid-template-columns: 4fr 8fr
  grid-template-rows: 8fr 4fr
  grid-template-areas: "detailsImg right" "left left"
  text-align: left
  padding: 30px 150px 0 0
  box-sizing: border-box
  grid-gap: 30px
  &__photo
    grid-area: detailsImg
  &__right
    grid-area: right
  &__left
    grid-area: left
  &__title
    width: 100%
    margin-bottom: 10px


