.sectionFeatures
  padding: 150px 0
  &__titel
    font-size: 42px
    line-height: 150%
    text-transform: uppercase
    margin-bottom: 40px
    color:  #0B0754
    text-align: left
  &__text
    margin-bottom: 86px
    font-size: 24px
    font-weight: 300
    text-align:  left
