.formWrapper {
    padding-top: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.formWrapperItem__titleContainer{
    width: 360px;
    height: 36px;
}

.titleContainerItem__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.container__input {
    margin-top: 12px;
}

.title__item {
    width: 559px;
    margin-bottom: 48px;    
}

.formContainerItem__form {
    width: 360px;
    margin-top: 48px;
}

.formContainerItem__form input[type='email'],
.formContainerItem__form input[type='text'],
.formContainerItem__form input[type='password'] {
    width: 360px;
    height: 46.83px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding-left: 12.96px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.formContainerItem__form input[type='password'] {
    margin-top: 12px;    
}

.inputUser-red {
    border: 1px solid #a94442!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none;
}

.inputUser-red:focus {
    border: 1px solid #a94442!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #a94442;    
}

.formContainerItem__icons {
    margin-top: 36.5px;
}

.formContainerItem__icons a:nth-child(n+2) {
    padding-left: 20px;
}

.formItem__button {
    width: 165px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 69.96px;
}

.formItem__button-64 {
    margin-top: 64px;
}

.formItem__button:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.5); 
}

.textinput {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
}

.registration-container__link {
    width: 360px;
    height: 24px;
    margin-top: 48px;
}

.registration-container__link > a:hover,
.registration-container__link > a:active {
    color: #000;
    text-decoration: none;
}

.registration__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #C4C4C4;
}

.formItem__button-360 {
    width: 360px;
}

.checkbox-confidentiality  {
    margin-top: 36.67px;
    padding-left: 33px;
    padding-right: 33px;
}

.checkbox-confidentiality input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
}

.checkbox-confidentiality > label > span {
    width: 252px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
}
  
.checkbox-confidentiality input[type=checkbox] {
    display: none;
}
  
.checkbox-confidentiality input[type=checkbox] + label:before {
    /* content: url("./svg/check.svg"); */
    content: '\2714';
    border: 0.18em solid #666565;
    border-radius: 1.2em; 
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.03em;
    padding-bottom: 0.03em;
    margin-right: 9px;
    color: transparent;
}

  
.checkbox-confidentiality input[type=checkbox] + label:active:before {
    transform: scale(0);
}
  
.checkbox-confidentiality input[type=checkbox]:checked + label:before {
    background-color: #fff;
    border-color: #666565;
    color: #666565;
}

.checkbox-red input[type=checkbox] + label:before {
    border: 0.18em solid red;
}

.checkbox-red > label > span {
    content: "";
    color: red;
}

.formErrors {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 12px;
    height: 46.83px;
    width: 280px;
    margin-left: 330px;
    border-radius: 5px;
    padding: 4px 4px;
}

.displayNone {
    display: none;
}

.formErrors:after, .formErrors:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 3px;
	width: 3px;
	position: absolute;
	pointer-events: none;
}

.formErrors:before {
	border-color: rgba(194, 225, 245, 0);
    border-right-color: rgba(0, 0, 0, 0.7);; 
	border-width: 5px;
	margin-top: -5px;
}