.headerDiv
  margin-left: auto
  margin-right: auto
  width: 1140px

.header__top
  border-bottom: 1px solid rgba(130, 132, 130, 0.3)
  margin-bottom: 30px
  display: flex
  padding: 12px 0
  box-sizing: border-box

.logo
  float: left
  font-family: IBM Plex Serif
  font-style: normal
  font-weight: bold
  font-size: 32px
  line-height: 38px
  color: #383330

.userAvatar
  width: 67px
  height: 67px
  border-radius: 50%
  background-color: #FFD1A9

.userName
  margin: 0 30px 0 15px 