.MainNav
  display: flex
  flex-flow: column nowrap
  align-items: center
  box-sizing: border-box
  position: fixed
  z-index: 10
  width: 315px
  height: 100%
  background: white
  padding: 2rem 0
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
  >a
    display: block
    margin-bottom: 36px
    color: #000000
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    &:last-of-type
      margin-bottom: 0
    &:hover
      text-decoration: none
    &:hover .navItemSVG
      background-color: #BDE1CA
      border-radius: 50%
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
    &:active .navItemSVG
      background-color: #5DB07B
      border-radius: 50%
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3)
      > svg > path
        fill: white


.navigation-item
  display: flex
  flex-direction: column
  align-items: center
  .navFont
    font-family: Rubik
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 21px
    color: #3B3E3C

.navItemSVG
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  width: 52px
  height: 52px
  margin-bottom: 6px
  display: flex
  box-sizing: border-box
