.MainNav
  display: flex
  flex-direction: column
  width: 112px
  margin: 181px 61px 0

.navigation-item
  display: flex
  flex-direction: column
  magin-right: 36px
  align-items: center

  >img
    width: 30px 
    height: 30px
    border-radius: 50%
    border: 1px solid #000000

  >a
    display: block
    margin-top: 16px
    margin-bottom: 36px
    color: #000000
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    &:last-child
      // margin-bottom: 0
