.container {
    background: url(svg/404_page_not_found.svg) no-repeat;
    background-position: center top;
    /* background-size: cover; */
    height: 897.04px;
    margin-top: 32.96px;
    width: 1440px;
}

.container__btn {
    margin-top: 619.04px;
    font-weight: 500;
}