.container-form {
    background: url(svg/form_phone_item.svg) #5DB07B no-repeat;
    background-position: left top;
    background-size: cover;
    height: 969px;
}

.formWrapper {
    background-color: #fff;
    padding-top: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 705px;
    height: 100%;
}

.formWrapperItem__titleContainer {
    width: 356px;
    height: 39px;
}
.text_color_green {
    color: #5DB07B;
}

/* 
.titleContainer_indent {
    margin-bottom: 48px!important;
}

.button_indent {
    margin-top: 16px!important;
}

.formContainerItem__icons_indent {
    margin-top: 0!important;
}

.social__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 12.5px;
}

.formContainerItem_indent {
    margin-top: 144px!important;
}

.titleContainerItem__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
*/

.container__input {
    margin-top: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(130, 132, 130, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
}

.formContainerItem__form input[type='email'],
.formContainerItem__form input[type='text'],
.formContainerItem__form input[type='password'] {
    width: 360px;
    height: 46.83px;
    background: #FFFFFF;
    border: 1px solid rgba(130, 132, 130, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 12.96px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.formContainerItem__form input:hover {
    border: 1px solid #BDE1CA;
    outline: 0;
}

.formContainerItem__form input:focus {
    border: 1px solid #5DB07B;
    outline: 0;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);  */
}

.text_color_red {
    color: red;
}

.text_color_green {
    color: green;    
}

/*

.title__item {
    width: 559px;
    margin-bottom: 48px;    
}

.formContainerItem__form {
    width: 360px;
    margin-top: 48px;
}


.formContainerItem__form input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6); 
}

.formContainerItem__form input[type='password'] {
    margin-top: 12px;    
}

.input_color_red {
    border: 1px solid #a94442!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none;
}

.input_color_red:focus {
    border: 1px solid #a94442!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #a94442!important;    
}

.formContainerItem__icons {
    margin-top: 36.5px;
}

.formContainerItem__icons a:nth-child(n+2) {
    margin-left: 20px;
}

.formItem__button {
    width: 165px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 69.96px;
}

.f__button--indent-mt64 {
    margin-top: 64px;
}

.formItem__button:hover {
    box-shadow: 0 0 2px rgba(0,0,0,0.5); 
}

.textinput {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.06em;
}

.registration-container__link {
    width: 360px;
    height: 24px;
    margin-top: 48px;
}

.registration-container__link > a:hover,
.registration-container__link > a:active {
    color: #000;
    text-decoration: none;
}

.registration__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #C4C4C4;
}

.c-button--width360 {
    width: 360px;
}

.checkbox-confidentiality  {
    margin-top: 36.67px;
    padding-left: 33px;
    padding-right: 33px;
}

.checkbox-confidentiality input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
}

.checkbox-confidentiality label {
    position: relative;
    height: 34.36px;
}

.checkbox-confidentiality label > span {
    width: 252px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    position: absolute;
    bottom: 10px;
    left: 28px;
}

.checkbox-confidentiality label > span:nth-child(2) {
    display: block;
}
  
.checkbox-confidentiality input[type=checkbox] {
    display: none;
}
  
.checkbox-confidentiality input[type=checkbox] + label:before {
    content: url("./svg/circle_conf.svg");
    margin-right: 9px;
    color: #666565;
    position: absolute;
    left: 5px;
}

.checkbox-confidentiality input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
}
  
.checkbox-confidentiality input[type=checkbox]:checked + label:before {
    content: url("./svg/check_conf.svg");
    background-color: #fff;
    border-color: #666565;
    color: #666565;
}

.checkbox-red input[type=checkbox] + label:before {
    content: url("./svg/circle__config_red.svg");
    background-color: #fff;
    color: red;
}

.checkbox-red label > span {
    content: "";
    color: red;
}

.formErrors {
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 12px;
    height: 46.83px;
    width: 280px;
    margin-left: 330px;
    border-radius: 5px;
    padding: 4px 4px;
}

.displayNone {
    display: none;
}

.formErrors:after, .formErrors:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 3px;
	width: 3px;
	position: absolute;
	pointer-events: none;
}

.formErrors:before {
	border-color: rgba(194, 225, 245, 0);
    border-right-color: rgba(0, 0, 0, 0.7);; 
	border-width: 5px;
	margin-top: -5px;
}

.role-form {
    width: 360px;
    border: 1px solid #C4C4C4;
    margin-top: 8px;
    padding-left: 12.96px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.role-form__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;  
    margin-bottom: 13px;  
    padding-top: 10px;
}

.radio-input input[type=radio] {
    display: none;
}

.radio-input input[type=radio] + label:before {
    content: url("./svg/circle_role.svg");
    margin-right: 9px;
    color: #666565;
    position: absolute;
    left: 1px;
}

.radio-input label {
    position: relative;
    width: 318px;
    height: 48px;
    margin-bottom: 8px;
}

.radio-input label:nth-last-child(1) {
    margin-bottom: 13px!important;    
}

.radio-input input[type=radio] + label {
    display: block;
    cursor: pointer;
}
  
.radio-input input[type=radio]:checked + label:before {
    content: url("./svg/check_role.svg");
    background-color: #fff;
    border-color: #666565;
    color: #666565;
}
.radio-input label > span {
    display: block;
    top: -3px;
    padding-left: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    
}

.radio-input label > span:nth-child(2) {
    margin-top: 30px;
    opacity: 0.5;
} */



.container-not-found {
    background: url(svg/404_page_not_found.svg) no-repeat;
    background-position: center top;
    height: 897.04px;
    margin-top: 32.96px;
}

.not-found__btn {
    margin-top: 619.04px;
}