.bigView
  display: grid
  grid-gap: 35px 45px
  grid-template-columns: repeat(3, 1fr)
  
.smallView
  display: grid
  grid-gap: 25px 30px
  grid-template-columns: repeat(5, 1fr)
  justify-items: stretch

.galleryBlock
  padding: 0 150px 0 0

.sorting 
  display: grid
  grid-template-areas: "title title title" "date human view"
  grid-template-rows: 1fr 1fr
  grid-template-columns: 1fr 1fr 10fr
  &__title
    grid-area: title
    text-align: left
    font-style: normal
    font-weight: normal
    font-size: 32px
    line-height: 120%
    color: #000000
    margin-bottom: 26px
  &__date
    grid-area: date
    text-align: left
  &__human
    grid-area: human
    text-align: left
  &__view
    grid-area: view
    text-align: right
    & ul 
      display: none
 
.img 
  margin-bottom: 12px
  width: 100%
  grid-area: "img"

.itemName 
  font-size: 32px
  line-height: 120%
  text-align: left
  float: left

.icons
  float: right

.downloadIcon 
  margin-right: 20px

.itemAutor 
  clear: both
  font-size: 16px
  line-height: 19px
  color: #9C9C9C
  text-align: left
  margin: 6px 0

.itemDate
  font-size: 16px
  line-height: 19px
  color: #9C9C9C
  text-align: left
  margin-bottom: 12px

.itemDescription 
  text-align: left 


.download
  margin-left: auto
  margin-right: auto
  padding: 48px 178px
  box-sizing: border-box
  &__text
   font-family: Roboto, sans-serif
   font-size: 32px
   text-align: center
   color: #000000
   &_light
    color: #666565
  &__button
   background: #FFFFFF
   border: 1px solid #000000
   box-sizing: border-box
   border-radius: 24px
   font-family: Roboto
   font-weight: 500
   font-size: 16px
   letter-spacing: 0.06em
   color: #000000
   padding: 12px 46px
   box-sizing: border-box
   margin: 24px 0 32px
.area 
  margin: 32px 0 24px 