// .addPhotoWrap
//   display: grid
//   grid-template-columns: 
//   grid-template-areas: 'albumTitle'

.albumTitle
  text-align: left
  margin: 64px 0 34px
.albumDesc
  margin-right: 40px

.albumName
  display: flex
  
.choicePhoto
  display: flex
  flex-direction: column 
  &__line
      width: 400px
      margin: 24px auto
      &_lineLeft
        width: 156px
        border: 1px solid rgba(130, 132, 130, 0.3)
        float: left
        margin-top: 14px
      &_lineRight
        width: 156px
        border: 1px solid rgba(130, 132, 130, 0.3)
        float: right
        margin-top: 14px
  &__button
      margin: 8px auto 0 auto

.input
  width: 505px
  height: 404px
