.albumItem
  justify-content: stretch

.img
  margin-bottom: 12px

.flex-column_img
  width: 100%

.flex-row_img
  width: auto
  padding-right: 2rem
  height: 100%

.contentZone
  position: relative
  flex-grow: 1
  justify-content: space-between

.itemName 
  font-size: 32px
  line-height: 120%
  text-align: left
  float: left
  padding-right: 2rem

.icons
  position: absolute
  right: 0

.downloadIcon 
  margin-right: 20px

.itemAutor 
  clear: both
  font-size: 16px
  line-height: 19px
  color: #9C9C9C
  text-align: left
  margin: 6px 0

.itemDate
  font-size: 16px
  line-height: 19px
  color: #9C9C9C
  text-align: left
  margin-bottom: 12px

.itemDescription 
  text-align: left 
