.downloadWrap
  height: 434px
  background: #FFFFFF
  top: 250px
  box-sizing: border-box
  position: fixed
  width: inherit
  padding: 167px 144px
  box-sizing: border-box
  box-shadow: 0px 1px 3px #B7B7B7
  border-radius: 10px
  
.downloadButton
  margin-top: 24px