.viewButton
  text-align: right

.menu 
  position: fixed
  max-width: 200px
  right:  280px
  z-index: 9999
  margin-top: 45px
  >button
    border: none
    background-color: #fff
    margin-top: 40px
