.photo-full
  display: flex
  flex-flow: row nowrap

.photo-full-main
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: flex-start
  padding: 30px 40px
  &-header
    font-weight: 500
    font-size: 24px
    margin: 0
  &-img
    display: flex
    flex-flow: column nowrap
    align-items: flex-end
    margin: 20px 0
    border-radius: 10px
    overflow: hidden
    >img
      margin-bottom: 10px
  &-contentZone
    display: flex
    flex-flow: column nowrap
    justify-content: flex-start
    align-items: flex-start
  &-author
    display: flex
    flex-flow: row nowrap
    align-items: center
    margin-top: 26px
    &-span
      margin-left: 15px

.go-back
  margin-bottom: 30px
  cursor: pointer

.photo-full-right
  margin-top: 130px
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  &-item
    margin-bottom: 24px
    display: flex
    flex-flow: column nowrap
    align-items: flex-start
  &-span
    display: block

.photo-full-editBTN
  background: none
  border: none
  >span
    margin-left: 6px
    color: #3B3E3C
